# Ignore everything
*

# Allow needed files
!Makefile
!*.md

# Allow C++ files/directories
!*/
!*.cpp
!*.h

# Allow data files
!*.csv

# Ignore vs-code files
.vscode

# Ignore other
/runtime_polymorphism
/permutations
/catch_ception