# Ignore everything
*

# Allow needed files
!Makefile
!*.md

# Allow C++ files/directories
!*/
!*.cpp
!*.h

# Ignore vs code files
.vscode

# Ignore other
/runtime_polymorphism
/permutations
/catch_ception
/library